{{> head }}



    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>
                {{ titulo }}
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque harum delectus vero maxime, inventore ipsum fugiat excepturi animi voluptatibus ex magni consectetur quis? Nobis perferendis consequuntur nemo laboriosam facere dolores?</p>
        </div>

        <div class="col-4">
            <img src="{{ img }}" class="img-thumbnail" >
        </div>
    </div>

{{> footer }}
    